name: Update Market Terminal

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: pip install requests matplotlib

      - name: Run Scanner
        run: python main.py

      - name: Save Changes
        run: |
          git config --global user.name "NeonTraderBot"
          git config --global user.email "bot@github.com"
          # WE ADD BOTH IMAGES HERE:
          git add index.html etb_neon_terminal.png etb_light_terminal.png etb_history.csv
          git commit -m "Auto-update" || echo "No changes to commit"
          git push
